.EightBall {
  border: 3px solid;
  border-color: transparent;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  background-color: black;
  text-align: center;
  line-height: 150px;
}
.EightBall-Text {
  color: white;
}
